<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5" style="max-width: 400px;">

    <h2 class="text-center mb-4">📝 ثبت‌نام</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" class="form-control mb-3" placeholder="نام کاربری">

        <input type="password" name="password" class="form-control mb-3" placeholder="رمز عبور">

        <button class="btn btn-success w-100">ثبت‌نام</button>
    </form>

    <p class="text-center mt-3">
        قبلاً حساب داری؟
        <a href="/accounts/login/">ورود</a>
    </p>

</div>

</body>
</html>